
h2{
	width: 100%;
    height: auto;
    line-height: 21px;
    text-align: left;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #fafafa;
    border-left: 4px solid #86bc42;
    margin-bottom: 12px;
    text-transform: uppercase;
    display: inline-block;
    color: #555555;
    font-size: 16px;
    font-weight: 500;
}
form.login,  form.register {
    border-radius: 0;
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
}
form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}
label {
    line-height: 2;
    display: block; 
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #737373;
}
form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0!important;
    text-decoration: none;
    visibility: visible;
}
form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    padding: 10px;
    font-size: 14px;
}
.button{
	font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    left: auto;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
input[type=checkbox]{
    margin: 6px 7px 0;
    line-height: normal;
}
a {
    color: #555;
}
a:hover{
	color:#86bc42;
}
.widget_search .search-form {
    width: 100%;
    border: 1px solid #ced0d6;
    display: table;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.widget_search .search-form .search-field {
    width: 70%;
    height: 40px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding-left: 8px;
    padding-right: 0;
    color: #adadad;
    font-family: Helvetica, Arial, sans-serif;
}
.widget_search .search-form .search-submit {
    color: #fff;
    border: none;
    padding: 16px;
    position: relative;
    float: right;
    background: #86bc42;
    border-radius: 0;
    box-shadow: none;
}

 #secondaryright {
    padding: 25px 0;
    padding-left: 15px;
    padding-right: 15px;
}
.widget {
    margin: 0 0 1.5em;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.btn-default{
    margin-left: 10px;
}
.opnmodl:hover{
    cursor: pointer;
    text-decoration: underline;
}
.woocommerce-privacy-policy-text{
    margin: 1.2rem 0px;
}