<!-- <app-header></app-header> -->
<section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            Buy 5 Order Get 1 Free Order Every Item Free Home Delivery
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
          Buy 5 Order Get 1 Free Order Every Item Free Home Delivery</p>
      </div>
  </div>
  <div class="row" >
    <div class="col-md-3" *ngFor="let item of alldatas">
      <div class="brdr">
        <a routerLink="/product/{{item.id}}">
          <img src={{item.product}} />
        </a>
        <p class="prdnm">{{item.name}}</p>
        <p class="pdrcst">₹ {{item.cost}}</p>
        <button>Order Now</button>
      </div>
    </div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            BUY SPECIAL FOOD OREDER ONLINE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of alldatas"><a href="/product/id"><img src={{item.product}}></a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            BREAKFAST HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of alldatas"><a href="/product/id"><img src={{item.product}}></a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
           LUNCH HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                       YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of alldatas"><a href="/product/id"><img src={{item.product}}></a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
           DINNER HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                       YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of alldatas"><a href="/product/id"><img src={{item.product}}></a></div>
  </div>
  </section>
  <!-- <app-footer></app-footer> -->