<app-header></app-header>
<section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            Buy 5 Order Get 1 Free Order Every Item Free Home Delivery
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        Buy 5 Order Get 1 Free Order Every Item Free Home Delivery</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"><a href="/product/1">1</a></div>
    <div class="col-md-3"><a href="/product/2">2</a></div>
    <div class="col-md-3"><a href="/product/3">3</a></div>
    <div class="col-md-3"><a href="/product/4">4</a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            BUY SPECIAL FOOD OREDER ONLINE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"><a href="/product/1">1</a></div>
    <div class="col-md-3"><a href="/product/2">2</a></div>
    <div class="col-md-3"><a href="/product/3">3</a></div>
    <div class="col-md-3"><a href="/product/4">4</a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
            BREAKFAST HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"><a href="/product/1">1</a></div>
    <div class="col-md-3"><a href="/product/2">2</a></div>
    <div class="col-md-3"><a href="/product/3">3</a></div>
    <div class="col-md-3"><a href="/product/4">4</a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
           LUNCH HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                       YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"><a href="/product/1">1</a></div>
    <div class="col-md-3"><a href="/product/2">2</a></div>
    <div class="col-md-3"><a href="/product/3">3</a></div>
    <div class="col-md-3"><a href="/product/4">4</a></div>
  </div>
  </section>
  <section class="home-section widget">
  <div class="row">
      <marquee direction="left" style="background-color:#1eaf22; padding: 10px 0px;"> 
          <h2 class="buzz-title wow zoomIn" style="visibility: visible; animation-name: zoomIn; color: red;">
           DINNER HERE
          </h2>
      </marquee>
      <div class="col-md-12">
        <p class="buzz-subTitle wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                       YOUR SEARCH ENDS HERE, CHOOSE OUR BEAUTIFUL FOODS</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"><a href="/product/1">1</a></div>
    <div class="col-md-3"><a href="/product/2">2</a></div>
    <div class="col-md-3"><a href="/product/3">3</a></div>
    <div class="col-md-3"><a href="/product/4">4</a></div>
  </div>
  </section>
  <app-footer></app-footer>